<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
<title><%= typeof title === 'undefined' ? '' : title %></title>
<link rel="stylesheet" href="index.css">
